/* Default CSS stuff goes here */
* {
    font-family: Georgia;
}





/* Grilled cheese stuff goes here */
.cheeseStyles body {
    background-color: blue;
}
.cheeseStyles h1, h2, h3{
    color: gold
}